<%= form_for(@d_alert) do |f| %>
  <% if @d_alert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@d_alert.errors.count, "error") %> prohibited this d_alert from being saved:</h2>

      <ul>
      <% @d_alert.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :due_date %><br>
    <%= f.date_select :due_date %>
  </div>
  <div class="field">
    <%= f.label :alert_category %><br>
    <%= f.text_field :alert_category %>
  </div>
  <div class="field">
    <%= f.label :contact_name %><br>
    <%= f.text_field :contact_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
