<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">



  <div class="container">
    <div class="row clearfix">
      <div class="col-md-4 column">
        <div class="homeage-logo">
          <%= link_to image_tag("logo.png"), root_path %>
        </div>
      </div>
      <div class="col-md-2 column">
      </div>
      <div class="col-md-6 column">
        <div class="pull-right">
          <h4>
            <%= link_to "Master List", recurring_alerts_path %> |
            <%= link_to "Pending Alerts", d_alerts_path %> |
            <% if current_user %>
                <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
            <% else %>
                <%= link_to "Sign In", new_user_session_path %>
            <% end %>
          </h4>
          <hr>
          <h2><%= yield(:title) %></h2>
        </div>
      </div>
    </div>
  </div>

  <% if flash[:notice] %>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
  <% elsif flash[:error] %>
      <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:error] %>
      </div>
  <% elsif flash[:alert] %>
      <div class="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert] %>
      </div>
  <% end %>

    <%= yield %>

</div>

</body>
</html>
